.swiper-slide {
	width: 280px;
	height: 280px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax {
	background-image: url(../../../../public/background/cert-bg-2.jpg);
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.react-calendar__navigation {
	position: relative;
	margin-block-end: 40px;
}

.react-calendar__navigation__arrow {
	font-size: 40px;
	line-height: 0;
	display: inline-flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.react-calendar__navigation__prev-button {
	right: 30px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__navigation__label__labelText {
	padding: 10px 20px;
	background:#F1F1F1;
	border-radius: 10px;
	font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday {
	text-align: center;
	color: #00B7F0;
	font-weight: 700;
}

.react-calendar__month-view__days {
	row-gap: 10px;
	justify-content: space-between;
}

.react-calendar__month-view__days__day {
	font-weight: 600;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #545454;
	font-weight: 400;
}

abbr {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: var(--date--bg, transparent);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.full {
	--date--bg: #F1F1F1;
	color: #909090;
}

.offline {
	--date--bg: #00B7F0;
	color: #fff;
}

.online {
	--date--bg: #FF8181;
	color: #fff;
}