@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	scroll-snap-type: mandatory;
	scroll-snap-align: center;
}

.swiper-nav {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	max-width: 100%;
}

.text-glow {
	text-shadow: 0px 0px 20px rgba(0, 240, 255, 0.30);
}

.swiper-button-prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	cursor: pointer;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #001730;
	border-radius: 50%;
}

.swiper-button-prev::before {
	line-height: 0;
	content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2499 17.9999C11.2499 18.2876 11.3599 18.5756 11.5796 18.7953L22.8296 30.0453C23.2691 30.4849 23.981 30.4849 24.4203 30.0453C24.8596 29.6057 24.8599 28.8939 24.4203 28.4546L13.9657 17.9999L24.4203 7.5453C24.8599 7.10571 24.8599 6.39386 24.4203 5.95455C23.9807 5.51524 23.2689 5.51496 22.8296 5.95455L11.5796 17.2046C11.3599 17.4242 11.2499 17.7122 11.2499 17.9999Z' fill='white'/%3E%3C/svg%3E%0A");
}

.swiper-button-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 60px;
	cursor: pointer;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #001730;
	border-radius: 50%;
}

.swiper-button-next::before {
	line-height: 0;
	content: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.7501 17.9999C24.7501 18.2876 24.6401 18.5756 24.4204 18.7953L13.1704 30.0453C12.7309 30.4849 12.019 30.4849 11.5797 30.0453C11.1404 29.6057 11.1401 28.8939 11.5797 28.4546L22.0343 17.9999L11.5797 7.5453C11.1401 7.10571 11.1401 6.39386 11.5797 5.95455C12.0193 5.51524 12.7311 5.51496 13.1704 5.95455L24.4204 17.2046C24.6401 17.4242 24.7501 17.7122 24.7501 17.9999Z' fill='white'/%3E%3C/svg%3E%0A");
}

.swiper-button-disabled {
	opacity: .3;
}

.scroll-down-arrow {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.scroll-down-arrow span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}

.scroll-down-arrow span:nth-child(2)
{
	animation-delay: -0.2s;
}

.scroll-down-arrow span:nth-child(3)
{
	animation-delay: -0.4s;
}

@keyframes animate{
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.react-calendar__navigation {
	position: relative;
	margin-block-end: 40px;
	margin-inline: 20px;
}

.react-calendar__navigation__arrow {
	font-size: 40px;
	line-height: 0;
	display: inline-flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.react-calendar__navigation__prev-button {
	right: 60px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
	display: none;
}

.react-calendar__navigation__label__labelText {
	padding: 10px 20px;
	background:#F1F1F1;
	border-radius: 10px;
	font-weight: 600;
}

.react-calendar__month-view__weekdays__weekday {
	text-align: center;
	color: #00B7F0;
	font-weight: 700;
}

.react-calendar__month-view__days {
	row-gap: 10px;
	justify-content: space-between;
}

.react-calendar__month-view__days__day {
	font-weight: 600;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: #545454;
	font-weight: 400;
}

abbr {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: var(--date--bg, transparent);
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.full {
	--date--bg: #F1F1F1;
	color: #909090;
}

.offline {
	--date--bg: #00B7F0;
	color: #fff;
}

.online {
	--date--bg: #FF8181;
	color: #fff;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #001730;
}