@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-nav {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	z-index: 2;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

svg {
	max-width: 100%;
}

.text-glow {
	text-shadow: 0px 0px 20px rgba(0, 240, 255, 0.30);
}